.swaps-history {
  .asset-pair {
    .asset-icon {
      width: 1.6em;
      height: 1.6em;
      margin-right: 0.4em;

      &:before {
        font-size: 1.6em;
        padding-top: 5px;
      }
    }
  }
}