$responsive-mobile-browser-width: 992px;

$primary: #0153ff;
$primary-disabled: #0c74fa;
$gray: #f2f3f7;
$light: #fafbfc;
$green: #28a745;
$red: #dc3545;

$color-label: #6f737c;

$font-face-primary: 'Roboto';
$font-size-base: 1em;
$font-weight-base: 400 !default;
$font-line-height-base: 1.25 !default;

$border-radius-input: .5em;
$border-radius-badge: .25em;

$space-standard: 2rem !default;
$space-micro: 1rem !default;
$space-nano: 0.5rem !default;
$space-double: 4rem !default;