@import "constants";

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $light;
  min-height: 100vh;

  .container {
    margin: 0 auto;
    max-width: 86rem;
    padding: 0 2rem;
    width: 100%;

    &.no-padding {
      padding: 0 !important;
    }

    @media (max-width: $responsive-mobile-browser-width) {
      padding: 0 1rem;
    }
  }

  > .container {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.08);
  }

  .widget-block {
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      top: -3em;
      left: 10em;
      width: 100%;
      height: calc(100% + 6em);
      z-index: -1;
      background: $gray;
      border-radius: 2*$border-radius-input;

      @media (max-width: $responsive-mobile-browser-width) {
        display: none;
      }
    }
  }
}

.header {
  padding: $space-standard 0;
}

.heading {
  font-size: 4.5em;
  line-height: 1;

  span {
    color: $primary
  }

  @media (max-width: $responsive-mobile-browser-width) {
    font-size: 3em;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: $space-micro;
  height: 100%;
  background: $gray;
  border: 1px solid $gray;
  border-radius: $border-radius-input;

  &.outline {
    height: auto;
    background: $light;
  }

  &.white {
    background: #fff;
    border: none;

    .preview {
      margin: 0 auto;
      max-width: 430px;
      background: linear-gradient(0, #fff 10%, $info-fon 90%);
    }
  }

  .preview {
    width: 100%;
    min-height: 15em;
    background: linear-gradient(180deg, #fff 0%, $gray 100%);
    border-radius: $border-radius-badge;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
    }
  }
}

.promo {
  margin-left: 10%;
  border-radius: $border-radius-input;
  outline: 10px solid rgba(255, 255, 255, 0.15);
}