@import "../../styles/constants";

.export-selector {

  @media (max-width: $responsive-mobile-browser-width) {
    width: 100%;

    .dd-header {
      width: 100%;
    }
  }

  .dd-list {
    width: 12em;
    border-radius: 8px;
    overflow: hidden;
  }
}