@import "../../styles/constants";

.asset-selector {
  .dd-header {
    color: $color-text;
    font-size: 0.85*$font-size-base;

    .asset-issuer {
      display: none;
    }
  }

  h5 {
    margin-bottom: 0.3em;
    letter-spacing: -0.05em;
  }

  .dd-list {
    width: 22em;
    max-width: 94vw;
    border-radius: 8px;
    overflow: hidden;
  }

  .dd-list-header {
    min-width: 16em;
    background: $gray;

    .icon-search {
      position: absolute;
      right: 1em;
      top: 2.8em;
      opacity: 0.5;
      font-size: $font-size-base;
    }

    input {
      padding: 0 2em 0 0;
      margin-bottom: 0;
      background: transparent;

      &:not(:placeholder-shown) + .icon-search {
        display: none;
      }

      &::placeholder {
        font-size: 0.85em;
        line-height: 1;
      }
    }
  }
}